In [2]:
pip install pyspark

In [1]:
import os
from pyspark.sql import SparkSession

# Set environment variables
os.environ['JAVA_HOME'] = r'C:\Program Files\Java\jdk-17.0.2'
os.environ['HADOOP_HOME'] = r'C:\hadoop'
os.environ['PATH'] = r'C:\Program Files\Java\jdk-17.0.2\bin;C:\hadoop\bin;' + os.environ['PATH']

# Path to the MySQL Connector/J JAR file
mysql_connector_jar = r"C:\Users\HP\Downloads\mysql-connector-j-8.4.0\mysql-connector-j-8.4.0.jar"

# Initialize Spark session with the MySQL Connector/J
spark = SparkSession.builder \
    .appName("MariaDBIntegration") \
    .config("spark.jars", mysql_connector_jar) \
    .getOrCreate()

# JDBC URL for MariaDB
server = "localhost"
port = 3306
database = "foodpricesdb"
jdbc_url = f"jdbc:mysql://{server}:{port}/{database}"

# Database credentials
user = "root"
password = "root"
jdbc_driver = "com.mysql.cj.jdbc.Driver"

# Create a data frame by reading data from MariaDB via JDBC
sql = "SELECT * FROM foodprices"
food_prices_df = spark.read.format("jdbc") \
    .option("url", jdbc_url) \
    .option("query", sql) \
    .option("user", user) \
    .option("password", password) \
    .option("driver", jdbc_driver) \
    .load()

# Check food prices data
print('Food Prices shape (rows, cols):', (food_prices_df.count(), len(food_prices_df.columns)))
food_prices_df.show(5)

# Stop the Spark session
spark.stop()

Food Prices shape (rows, cols): (2400, 11)
+---+---------+----+-----+--------+-----------------+------------+--------+----------+------------+-------+
| id|  Country|Year|Month|FoodItem|UnitOfMeasurement|AveragePrice|Currency|PriceInUSD|Availability|Quality|
+---+---------+----+-----+--------+-----------------+------------+--------+----------+------------+-------+
|  1|Australia|2018|    1|   Bread|             Loaf|        2.20|     AUD|      1.47|           1| High\r|
|  2|Australia|2018|    2|   Bread|             Loaf|        2.20|     AUD|      1.48|           1| High\r|
|  3|Australia|2018|    3|   Bread|             Loaf|        2.20|     AUD|      1.48|           1| High\r|
|  4|Australia|2018|    4|   Bread|             Loaf|        2.21|     AUD|      1.48|           1| High\r|
|  5|Australia|2018|    5|   Bread|             Loaf|        2.21|     AUD|      1.48|           1| High\r|
+---+---------+----+-----+--------+-----------------+------------+--------+----------+------------+-------+
only showing top 5 rows